@import "tailwindcss";

:root {
  --primary: #222222;
  --secondary: #7b7b7b;
  --tertiary: #f8f8f8;
  --white: #ffffff;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-white: var(--white);
}

body {
  scroll-behavior: smooth;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr min(100%, 1280px) 1fr;
}

.wrapper > * {
  grid-column-start: 2;
}

.full-bleed {
  grid-column: 1 / -1;
}
